#eliminarProfesor{
	float:left;
	width: 50%;
	margin-top: 100px;
}

#form-eliminarProfesor{
    text-align: left;
}

#form-AddProf{
    margin-left: 125px;
}

#form-AddAsig{
    margin-left: 118px;
}

#form-elimAsig{
    text-align: left;
    
}

#addProfesor{
	float:left;
	width: 40%;
	margin-top: 100px;
	margin-left: 90px;
}

#addAsignatura{
    float:left;
	width: 40%;
	margin-top: 270px;
	margin-left: 90px;
}

#boton-eliminar{
    margin-left:50px; 
    margin-top: 50px;
}

.PregTipo1{
    background-color: #d3d0cf;
}

.PregTipo2{
    background-color: #efece8;
}

#boton-add{
    width: 90%;
    margin-bottom: 20%;
}

#eliminarAsignatura{
	position: absolute;
	width: 40%;
	float: left;
	margin-top: 50%;
	margin-left: 70px;
}

.preg{
	height: 8%;
	width: 130%;
	font-size: 18px;
}