#header{
    height: 150px;
    width: 100%;
    background-color: #374850;
    position:absolute;
    top:0px;
}

body {
    background: #f8f8f8;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}